html, body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #999;
  font: 14px georgia, serif;
  /*overflow: hidden;*/
}

h1 {
  color: #000;
  margin-top: 0;
  font-weight: normal;
  font-style: oblique;
}

a       { color: #333; }
a:hover { color: #000; }

p { margin: 0; }

#g, #outer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#g     { z-index: 1; display: none; }
#outer { z-index: 2; }

#outer { 
  width: 100%; 
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
}

#inner {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#box {
  text-align: center;
  padding: 30px 40px;
  background: #fff;
  overflow: hidden;
  display: inline-block;
}

#box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#box li {
  float: left;
}

#box a {
  display: inline-block;
  margin: 0 0.5em;
}

#box li+li:before {
  content: '/';
}