<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8" />
  <title>slipthrough</title>
  <link rel="stylesheet" href="/css/home-temp.css"/>
  
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <header>
    <h1>slipthrough</h1>
  </header>
  
  <section id="intro">
    <article>
      {{ content }}
    </article>
  </section>
  
   
  <section id="links">
    
    <h2>Elsewhere</h2>
    <ul>
      <li><a href="http://www.twitter.com/gb_r">Twitter</a></li>
      <li><a href="http://things.slipthrough.net">Tumblr</a></li>
      <li><a href="http://www.flickr.com/photos/slipthrough">Flickr</a></li>
      <li><a href="http://github.com/garyb">GitHub</a></li>
    </ul>
  
  </section>
  
  </section>

</body>
</html>
